[includeIf "gitdir:~/go/src/github.com/"]
	path = ~/.gitconfig-github
[core]
    pager = delta
	editor = nvim
	excludesfile = ~/.gitignore_global
	whitespace = fix
	ignorecase = false
[commit]
	template = ~/.stCommitMsg
[merge]
	ff = true
    conflictstyle = diff3
[pull]
	ff = only
[push]
	default = simple
[pager]
	diff = delta --color-only
[diff]
    colorMoved = default
[interactive]
	diffFilter = delta --color-only
[color]
	ui = true
[ghq]
	root = ~/go/src
[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
